@import url('https://fonts.googleapis.com/css2?family=roboto Mono:wght@500&display=swap');

* {
	box-sizing: border-box;
}

body{
	background-color: #8e44ad;
	color: #fff;
	font-family:'roboto Mono', sans-serif ;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	overflow: hidden;
}

.counter-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 30px 50px;
	text-align: center;
}

.counter{
	font-size: 50px;
	margin-top: 10px;
}

@media (max-width: 500px){
	body{
		flex-direction: column;
	}
}